
@{
    ViewBag.Title = "RecuperarPassWordConfirmacao";
}

<h2>Confirmaçao de recuperacão de password</h2>

<div>
    <p>
        <p>Password enviada com sucesso para o seu email.</p>

        <p>Verifique seu email.</p>

         <li>
            @Html.ActionLink("Efetuar Login", "Login", "Account")
        </li>
    </p>
</div>

