
@{
    ViewBag.Title = "Weather";
}

<h2>Weather</h2>

<p id="reply">


</p>

<button>Ver Clima</button>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.get("http://api.openweathermap.org/data/2.5/weather?q=London&APPID=565094e4b43f6f2907e009dee8396c9a&units=celsius", function (response) {
                //resposta
                $("#reply").text(response);
            });
        });
    });
</script>
